<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
  
    <form action="#" method="POST">
        <input placeholder="Username" type="text" name="Username" id="Username">
            <input placeholder= "Email" type="text" name="Email" id="Email">
            <input placeholder= "Password" type=" text" name="Password" id="Password">
            <input placeholder= "Firstname" type="text" name = "Firstname" id="Firstname">
            <input placeholder= "Lastname" type="text" name= "Lastname" id="Lastname">
            <input placeholder= "Current city" type="text"name="Currentcity" id="Currentcity">
            <input placeholder= "Current country" type="text" name="Currentcountry" id = "Currentcountry">
        <input type="submit" value="Submit">
    </form
    
</body>
</html>


